.addTask-main {
    margin: 10px;
}

.addTask-header {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

.addTask-container {
    width: 100%;
    background-color: #efefef;
    border: 1px solid rgba(128, 128, 128, 0.349);
}

.addTask-container-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTask-container-headlines {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.addTask-headlines-margin {
    margin-top: 20px;
    margin-bottom: 5px;
}

.addTask-container-headlines-fields {
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 16px;
    color: #2b7cbb;
    font-weight: 700;
}

.addTask-assigned-to-headline {
    margin-bottom:  9px !important;
    width: 100%;
}

.addTask-container-edit {
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.addTask-container-edit-fields {
    width: 45%;
}

.addTask-container-edit-assignedTo {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.addTask-input {
    width: 95%;
    height: 40px;
    font-family: PT Sans;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-date-width {
    width: 95.5%;
}

.addTask-dropdown {
    width: 96.25%;
    height: 50px;
    font-family: PT Sans;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-input-description {
    width: 95%;
    height: 150px;
    font-family: PT Sans;
    outline: none;
    resize: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 96.1%;
    min-height: 148px;
}

.addTask-addUser {
    border: 1px solid rgba(128, 128, 128, 0.349);
    margin-bottom: 3px;
    padding-left: 3px;
    cursor: pointer;
    background-color: #efefef;
}

.addTask-addUser:hover {
    background-color: #dcffc2;
}

.addTask-removeUser {
    border: 1px solid rgba(128, 128, 128, 0.349);
    margin-bottom: 3px;
    padding-left: 3px;
    cursor: pointer;
    background-color: #efefef;
}

.addTask-removeUser:hover {
    background-color: #ffccd6;
}

.addTask-assignedTo {
    background-color: white;
    width: 40%;
    border: 1px solid rgba(128, 128, 128, 0.699);
    padding: 3px;
    min-height: 175px;
    height: 100%;
}

.addTask-addUser-list {
    background-color: white;
    width: 40%;
    border: 1px solid rgba(128, 128, 128, 0.699);
    padding: 3px;
    min-height: 175px;
    height: 100%;
}

.addTask-container-edit-assignedTo-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 45%;
}

.addTask-cancel {
    color: #2b7cbb;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.addTask-create {
    background-color: #2b7cbb;
    color: white;
    border-radius: 10px;
    border: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.addTask-color-none {
    background-color: #efefef;
    font-weight: 700;
}

.addTask-color-green {
    background-color: #dcffc2;
    font-weight: 700;
}

.addTask-color-blue {
    background-color: #c3ddff;
    font-weight: 700;
}

.addTask-color-red {
    background-color: #ffccd6;
    font-weight: 700;
}

.addTask-color-yellow {
    background-color: #ffffe0;
    font-weight: 700;
}

.addTask-color-purple {
    background-color: #e2d2f2;
    font-weight: 700;
}

.addTask-color-orange {
    background-color: #ffd089;
    font-weight: 700;
}

@media(max-width:600px) {
    .addTask-container-edit-responsive {
        flex-direction: column;
    }
    .addTask-container-edit-fields-responsive {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .addTask-responsive-width {
        width: 100%;
    }

    .addTask-headlines-responsive {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .addTask-dropdown-responsive {
        width: 98.5%;
    }

    .addTask-input-responsive {
        width: 98.5%;
    }

    .addTask-date-width-responsive {
        width: 99%;
    }

    .addTask-input-description {
        width: 98%;
    }

    .addTask-users {
        width: 99.1%;
    }

    .addTask-dropdown-color-respnsive {
        width: 99.1%;
    }
}