.addTask-main {
    width: 100%;
    margin: 10px;
}

.addTask-header {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}

.addTask-container {
    width: 100%;
    min-height: 400px;
    background-color: #efefef;
    border: 1px solid rgba(128, 128, 128, 0.349);
}

.addTask-container-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTask-container-headlines {
    width: 90%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.addTask-container-headlines-fields{
    display: flex;
    justify-content: space-between;
    width: 45%;
    font-size: 16px;
    color: #2b7cbb;
    font-weight: 700;
}

.addTask-container-edit {
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.addTask-container-edit-fields {
    width: 45%;
}

.addTask-container-edit-assignedTo {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.addTask-input {
    width: 95%;
    height: 40px;
    font-family: PT Sans;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-dropdown {
    width: 97%;
    height: 50px;
    font-family: PT Sans;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-input-description {
    width: 95%;
    height: 150px;
    font-family: PT Sans;
    outline: none;
    resize: none;
    border: 1px solid rgba(128, 128, 128, 0.699);
}

.addTask-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 97%;
    height: 100%;
}

.addTask-addUser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    width: 14%;
}

.addTask-addUserImg {
    width: 35px;
    height: 35px;
}

.addTask-assignedTo {
    background-color: white;
    width: 40%;
    border: 1px solid rgba(128, 128, 128, 0.699);
    padding: 3px;
    height: 100%;
}

.addTask-addUser-list {
    background-color: white;
    width: 40%;
    border: 1px solid rgba(128, 128, 128, 0.699);
    padding: 3px;
    height: 100%;
}
.addTask-container-edit-assignedTo-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 45%;
}

.addTask-cancel {
    color: #2b7cbb;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.addTask-create {
    background-color: #2b7cbb;
    color: white;
    border-radius: 10px;
    border: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.addTask-color-none {
    background-color: #efefef;
}

.addTask-color-green {
    background-color: #dcffc2;
}

.addTask-color-blue {
    background-color: #c3ddff;
}

.addTask-color-red {
    background-color: #ffccd6;
}

.addTask-color-yellow {
    background-color: #ffffe0;
}

.addTask-color-purple {
    background-color: #e2d2f2;
}

.addTask-color-orange {
    background-color: #ffd089;
}