body {
    margin: 0;
}

.main-content {
    background-color: rgb(186, 246, 191);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headers {
    width: 95vw;
    display: flex;
    margin-left: 150px;
    margin-top: 25px;

}

.h3 {
margin-right: 300px;
}


.todo-container {
    width: 95vw;
    height: 100px;
    margin: 10px;
    background-color: rgb(215, 253, 144);
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.category-color {
    height: 100px;
    background-color: yellowgreen;
    width: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.personal-img {
height: 70px;
width: 70px;
border-radius: 50%;
margin: 15px;
margin-left: 30px;
}

.personal-data {
height: 100px;
width: 450px;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 15px;
}

.name {
    margin-bottom: 10px;
    font-size: 20px;
}

.category {
    width: 200px;
}

.details {
    max-height: 80px;
    width: 1000px;
    overflow: auto;
    margin: 10px;
}