body {
    margin: 0;
    font-family: PT Sans;
}


   .main-content {
  flex-direction: column;
} 

.backlog-main {
    height: 100%;
    margin: 10px;
    background-color: #efefef;
    border: 1px solid rgb(195, 193, 193);
    border-radius: 3px;
}


 .headers {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #2b7cbb;
    font-weight: 700;
padding-top: 10px;
margin-left: 50px;
margin-right: 50px;

}

.backlog-header {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}
.h1 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    margin: 10px;
}



.todo-container {
    height: 82px;
    margin: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.781);
}

.todo-container a {
    font-size: 14px;
    color: #2b7cbb;
    font-weight: 500;
}

.assigned-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-color {
    height: 82px;
    background-color: violet;
    width: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.personal-img {
height: 60px;
width: 60px;
border-radius: 50%;
margin: 10px;
}

.personal-data {
height: 100px;
width: 200px;
display: flex;
flex-direction: column;
justify-content: center;

}

.name {
    margin-bottom: 10px;
    font-size: 18px;
}

.category {
    width: 100px;
}

.details {
    max-height: 60px;

    max-width: 250px;
    overflow: auto;
    font-size: 12px;
}

