.board-main {
    margin: 10px;
    min-height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(128, 128, 128, 0.349);
}

.board-category {
    width: 33%;
    min-height: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.349);
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    border-left: 1px solid rgba(128, 128, 128, 0.349);
}

.board-category-head {
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 700;
}

.board-category-content {
    padding: 5px;
}

.board-task {
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.board-delete-task-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;    
}

.board-tasks-details {
    border: black;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none!important;
}

.details-box {
    border-radius: 5px;
    border: 1px solid rgb(126, 126, 126);
    box-shadow: 0 0 10px 10px rgb(0 0 0 / 0.2);
    background-color: #dcffc2;
    padding: 30px;
    width: 30%;
    color: rgb(68, 68, 68);
}

.details-box-titel {
    border-bottom: 1px solid grey;
    font-weight: 700;
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.details-box-line {
    margin-bottom: 10px;
}

.details-box-headline {
    font-weight: 700;
    color: black;
}

.details-box-line-double {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-box-delete {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
}