.board-main {
    width: 100%;
    margin: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(128, 128, 128, 0.349);
}

.board-category {
    width: 33%;
    min-height: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.349);
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    border-left: 1px solid rgba(128, 128, 128, 0.349);
}

.board-category-head {
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-weight: 700;
}

.board-category-content {
    padding: 5px;
}

.board-task {
    border: 1px solid rgba(128, 128, 128, 0.349);
    background-color: #efefef;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}