.help-main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-index-list {
    font-weight: 700;
    font-size: 20px;
}

.help-containers {
    margin-top: 30px;
    padding: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.help-containers-main {
    border: 1px solid rgba(128, 128, 128, 0.349);
    padding: 8px;
    margin-top: 20px;
}

.help-containers-title {
    font-weight: 700;
    font-size: 20px;
}

.help-containers-text {
    margin-bottom: 10px;
}

.help-containers-img {
    width: 100%;
    border-radius: 10px;
}