.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    height: 50px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px;
    border-radius: 5px;
    border: 1px solid rgba(202, 202, 202, 0.548);
    background-color: #fafafa;
    cursor: pointer;
}

.navbar-link:hover {
    background-color: #2b7cbb;
}

.navbar-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar-header a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media(max-width:745px) {
    .navbar-link {
        font-size: 14px;
        height: 26px;
    }
    .navbar-img {
        width: 20px;
        height: 20px;
    }
}

@media(max-width:533px) {
    .navbar-link {
        margin-left: 2px;
        margin-right: 2px;
    }
}

@media(max-width:451px) {
    .navbar-img {
        margin-right: 3px;
    }
}


@media(max-width:417px) {
    .navbar-img {
        width: 15px;
        height: 15px;
    }
}

@media(max-width:390px) {
    .navbar-link {
        font-size: 12px;
    }
}

@media(max-width:300px) {
    .footer {
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:352px) {
    .navbar-link {
        font-size: 12px;
        font-weight: bold;
    }
    .navbar-img {
        display: none;
    }
}

