<div class="navbar-header">
    <div class="navbar-link"><a href="board.html"><img class="navbar-img" src="img/board.png">Board</a></div>
    <div class="navbar-link"><a href="backlog.html"><img class="navbar-img" src="img/backlog.png">Backlog</a></div>
    <div class="navbar-link"><a href="addTask.html"><img class="navbar-img" src="img/add.png">Add Task</a></div>
    <div class="navbar-link"><a href="help.html"><img class="navbar-img" src="img/help.png">Help</a></div>
    <div class="navbar-link" id="logoutButton" onclick="logout()">Logout</div>
</div>

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>

<script src="js/firebase.js"></script>
<script src="js/firebase-ui.js"></script>